/* Importation des fonts */
@font-face {
  /* Creation d'un alias */
  font-family: "segoeui";
  src: url(../font/SEGOEUI.TTF);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "segoeui", sans-serif;
  img,
  input {
    width: 100%;
  }
}

/* MENU */

header nav {
  display: flex;
  /* Pour gerer l'aglignement vertical des enfants de ma nav j'utilise align-items: ; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 11vh;
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 1rem;
  background-color: white;
  letter-spacing: 5px;
  box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.75);
  top: 0;
  z-index: 1;
  width: 100%;
}

.blue {
  color: rgb(0, 0, 0);
}

#burger {
  padding: 0.8rem;
  margin: 0.8rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
#check:checked ~ ul {
  display: flex;
}

#h1header {
  font-size: 5rem;
}

#nav input {
  display: none;
}

header ul {
  display: flex;
  list-style-type: none;
  font-weight: 100;
  display: none;
  position: absolute;
  background-color: white;
  top: 11vh;
  flex-direction: column;
}

header li {
  padding: 16px;
}

#img-header {
  background-image: url(../img/architect.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 200;
}

#logo {
  margin: 3rem;
  letter-spacing: 5px;
}

.BR {
  font-weight: 900;
}

.BR2 {
  background-color: rgb(54, 54, 54);
  background-size: 2rem 2rem;
  margin: 0.2rem;
}

#architect {
  display: none;
}

/* Projects */

#Projects img{

vertical-align: bottom;}
.trait {
  width: 764px;
  border: 0.1px solid rgb(192, 192, 192);
  margin-bottom: 20px;
  margin-top: -20px;
}

#titreproject {
  margin: 2rem;
  justify-content: flex-start;
  padding-right: 15rem;
  font-weight: 100;
  font-size: 2rem;
}

#Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

#Projects > div {
  margin-bottom: 20px;
}

.image1 {
  position: relative;
  display: inline-block;
}

#summerhouse {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

.image2 {
  position: relative;
  display: inline-block;
}

#brickhouse {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

.image3 {
  position: relative;
  display: inline-block;
}

#renovated {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

.image4 {
  position: relative;
  display: inline-block;
}

#barnhouse {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

.image5 {
  position: relative;
  display: inline-block;
}

#summerhouse2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

.image6 {
  position: relative;
  display: inline-block;
}

#brickhouse2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

.image7 {
  position: relative;
  display: inline-block;
}

#renovated2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

.image8 {
  position: relative;
  display: inline-block;
}

#barnhouse2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
}

/* About */

#about {
  display: block;
  font-weight: 200;
  margin: 3.5rem;
}

#h2about {
  font-size: 2rem;
}
/* Contact 1 */

#contact1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.5rem;
}

#team1 {
  margin-bottom: 2rem;
}

#h2about {
  margin-bottom: 2rem;
}

#h3Ceo {
  margin-bottom: 2rem;
}

#h2John {
  margin-bottom: 2rem;
}

#lorem1 {
  margin-bottom: 2rem;
}

/* Contact 2  */

#contact2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.5rem;
}

#team2 {
  margin-bottom: 2rem;
}

#h2Jane {
  margin-bottom: 2rem;
}

#h3archi {
  margin-bottom: 2rem;
}

#lorem2 {
  margin-bottom: 2rem;
}

/* Contact 3 */

#contact3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.5rem;
}

#Mike {
  margin-bottom: 2rem;
}
#h3archi2 {
  margin-bottom: 2rem;
}
#lorem3 {
  margin-bottom: 2rem;
}
#team3 {
  margin-bottom: 2rem;
}

/* Contact 4 */

#contact4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.5rem;
}

#lorem4 {
  margin-bottom: 2rem;
}
#team4 {
  margin-bottom: 2rem;
}
#h3archi3 {
  margin-bottom: 2rem;
}
#Dan {
  margin-bottom: 2rem;
}

#button1 {
  display: inline-block;
  background-color: #d6d6d6;
  border-radius: 5px;
  border: 2px double #cccccc;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#button2 {
  display: inline-block;
  background-color: #d6d6d6;
  border-radius: 5px;
  border: 2px double #cccccc;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#button3 {
  display: inline-block;
  background-color: #d6d6d6;
  border-radius: 5px;
  border: 2px double #cccccc;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#button4 {
  display: inline-block;
  background-color: #d6d6d6;
  border-radius: 5px;
  border: 2px double #cccccc;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* Contact */

#titrecontact {
  font-size: 2rem;
  margin: 2.5rem;
}

#textecontact {
  font-size: 1rem;
  margin: 2.5rem;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imput {
  display: inline;
  line-height: 1;
  padding: 0 1em;
  background-color: #fff;
  border: 2px solid silver;
  width: 30rem;
  height: 2rem;
  margin: 1.5rem;
  padding: 1.5rem;
  }
.send{
  display: inline-block;
  background-color: #000000;
  border: 2px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 100px;
}